<!-- The react_component renders the message -->
<div class="message list-group">
  <li class="list-group-item"><%= react_component('Message', props={author: username, content: message},{prerender:true}) %></li>
</div>