<h1>Chat Room</h1>

<form>
  <label>Press ENTER to send your message:</label><br>
  <input type="text" data-behavior="chat_speaker">
</form>

<div id="messages">
</div>

<div id="earlierreactmessages">
  <%= react_component('MessageBox', props={messages:@messages, users:@users}) %>
</div>

<!-- This is what I had before to render the messages stored in the database -->
<!-- <div id="earliermessages">
  <% @messages.reverse.each do |message| %>
      <b><%= message.user['email'] %></b>: <%= message.content %> <br><br>
  <% end %>
</div> -->
