
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">I'm thinking...</span>
  <input type="text" class="form-control" id="basic-url" data-behavior="chat_speaker" aria-describedby="basic-addon3" placeholder="Enter to Submit">
</div>

<div id="messages">
</div>

<div id="earlierreactmessages">
  <%= react_component('MessageBox', props={messages:@messages, users:@users}) %>
</div>

<!-- This is what I had before to render the messages stored in the database -->
<!-- <div id="earliermessages">
  <% @messages.reverse.each do |message| %>
      <b><%= message.user['email'] %></b>: <%= message.content %> <br><br>
  <% end %>
</div> -->
